# Python
api_credentials.sh
.cache
isrc_cache.json
*.DS_Store
__pycache__/
*.py[cod]
*.egg
*.egg-info/

# Django
/output_static/
/staticfiles/
backend/lib/
backend/bin/

# Virtual Environment
venv/
venv_temp/
.vscode/

# Node.js
node_modules/
npm-debug.log*

# Environment variables
.env.dev
.env.prod

# Tox
.tox/

# IDE
.idea/
*.swp
*.swo

# Testing and Coverage
.coverage
htmlcov/
.pytest_cache/
coverage.xml

# Build and Distribution
build/
dist/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/
.venv/
