[tool.poetry]
name = "playlist_aggregator"
version = "0.1.0"
description = "playlist aggregator from soundcloud, apple music and spotify"
authors = ["elijaghab@gmail.com"]

[tool.poetry.dependencies]
beautifulsoup4 = "4.12.2"
flask = "2.3.3"
fuzzywuzzy = "0.18.0"
python = "^3.10"
requests = "2.31.0"
selenium = "4.12.0"
urllib3 = ">=1.25.4,<1.27"

