name = "tunemeld-worker"
main = "src/index.ts"
compatibility_date = "2024-07-07"

account_id = "b8a3bf4fc8e54308300b0fa9b11a41a1"
workers_dev = true
node_compat = true

[env.production]
workers_dev = false
route = "tunemeld.com/*"

[env.production.vars]
MONGO_DATA_API_KEY = "fpmvWMah9mqSs6eXOeSMtViHFRTZkYiK4zGKnW4CkMlEH0NLPhc26F5mEHI4dx0t"
MONGO_DATA_API_ENDPOINT = "https://us-east-1.aws.data.mongodb-api.com/app/data-vuoqyfy/endpoint/data/v1"

[env.development]
workers_dev = true

[env.development.vars]
MONGO_DATA_API_KEY = "fpmvWMah9mqSs6eXOeSMtViHFRTZkYiK4zGKnW4CkMlEH0NLPhc26F5mEHI4dx0t"
MONGO_DATA_API_ENDPOINT = "https://us-east-1.aws.data.mongodb-api.com/app/data-vuoqyfy/endpoint/data/v1"
