/* Header Art Section */
.header-art-section {
  align-items: stretch;
  background-color: var(--container-background);
  border: 1px solid var(--container-background);
  border-radius: var(--border-radius-large);
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.header-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.2rem;
  color: var(--text-color);
}

/* Image and Video Containers */
.image-placeholder,
.video-container {
  position: relative;
  border-radius: var(--border-radius-small);
  width: 100%;
  padding-bottom: 100%; /* This maintains the 1:1 aspect ratio */
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder img,
.video-container video {
  position: absolute;
  border-radius: var(--border-radius-small);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
}

/* Service Styling */
.service {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0.3rem;
  max-width: 300px;
}

/* Skeleton Loader */
.skeleton {
  border-radius: var(--border-radius-small);
  overflow: hidden;
  position: relative;
  background-color: var(--skeleton-color);
}

.skeleton::before {
  animation: shimmer 2s infinite;
  background: linear-gradient(
    90deg,
    var(--skeleton-color) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    var(--skeleton-color) 100%
  );
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.skeleton-text {
  background: var(--skeleton-color);
  border-radius: var(--border-radius-small);
  height: 20px;
  margin-bottom: 10px;
}

/* Shimmer Animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Desktop Styles */
@media screen and (max-width: 768px) {
  .header-title {
    font-weight: bold;
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
    padding: 0.2rem;
    color: var(--text-color);
  }

  .description {
    font-size: 0.7rem;
    color: var(--text-color);
  }
}

/* New Modal Box */
.description {
  color: var(--text-color);
  cursor: pointer;
  display: -webkit-box;
  height: 2.7rem;
  line-height: 1.35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
  margin-top: 5px;
}

.description .more-button {
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  display: inline; /* Ensure it is inline */
  padding: 2px 5px; /* Add some padding */
}

.description-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  background-color: var(--container-background);
  border-radius: var(--border-radius-large);
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.description-modal.active {
  display: block;
}

.description-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.description-overlay.active {
  display: block;
}

.description-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.description-modal-header {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.description-modal-subheader {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.description-modal-content {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5rem;
}
