.main-playlist {
  box-sizing: border-box;
  width: 100%;
}

.playlist {
  background-color: var(--background-color);
  border: 1px solid var(--container-background);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 5px;
  width: 100%;
}

.playlist-column {
  box-sizing: border-box;
  padding: 0;
  width: calc(33.33% - 10px);
}

.playlist-content {
  display: block;
}

.playlist-content.collapsed {
  display: none;
}

.playlist-description {
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.playlist-header {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.playlist-link {
  background-color: var(--container-background);
  border-radius: 5px;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.playlist-link:hover {
  background-color: var(--soundcloud-link-hover);
}

.playlist-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.playlist-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: none;
}

.playlist-table th,
.playlist-table td {
  border-bottom: 1px solid var(--container-background);
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

.playlist-table th {
  text-align: center;
  background-color: var(--container-background);
  color: var(--text-color);
  position: relative;
}

.playlist-table th.rank,
.playlist-table td.rank {
  text-align: center;
  width: 2%;
}

.playlist-table th.cover,
.playlist-table td.cover {
  text-align: center;
  width: 0%;
}

.playlist-table th.info,
.playlist-table td.info {
  width: 10%;
}

.playlist-table th.stat,
.playlist-table td.spotify-view-count {
  width: 10%;
  text-align: center;
}

.playlist-table th.stat,
.playlist-table td.youtube-view-count {
  width: 10%;
  text-align: center;
}

.playlist-table th.seen-on,
.playlist-table td.seen-on {
  width: 5%;
  text-align: center;
}

.playlist-table th.external,
.playlist-table td.external {
  width: 0%;
  text-align: center;
}

.playlist-title {
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
}

.source-icon {
  height: 24px;
  width: 24px;
}

.source-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.th {
  text-align: center;
}

.track-column {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.track-item-content {
  align-items: center;
  background-color: var(--container-background);
  color: var(--text-color);
  display: flex;
  padding: 0px;
}

.track-list-item {
  background-color: var(--container-background);
  color: var(--text-color);
  padding: 5px 0;
}

.track-number {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 50px;
  color: var(--text-color);
}

.track-sources {
  display: inline-block;
}

.username {
  font-size: 12px;
  margin: 0;
  color: var(--text-color);
}

.collapse-button {
  background-color: var(--btn-background);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 0.8rem;
  padding: 3px 8px;
  position: absolute;
  right: 1px;
}

.album-cover {
  border-radius: 5px;
  width: 60px;
  height: 60px;
}

.sortable-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sortable-header .title {
  margin-right: 5px;
  color: var(--text-color);
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  padding: 0;
  padding-left: 5px;
}

.sort-button i {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--text-color);
}

.sort-button i + i {
  margin-top: -10px;
}

.sort-button[data-order="asc"] .fa-sort-up {
  display: inline;
  color: lightskyblue;
}

.sort-button[data-order="desc"] .fa-sort-down {
  display: inline;
  color: lightskyblue;
}

@media screen and (max-width: 768px) {
  .playlist-section {
    flex-direction: column;
    align-items: center;
  }

  .playlist-column {
    width: 100%;
  }
}
