.player_content {
    display: none;
    width: 100%;
}

#service-player-placeholder {
    width: 100%;
    border-radius: 5px;
}

#close-player-button {
    display: none;
}

.player_content iframe, 
#service-player-placeholder iframe {
    border-radius: 10px; 
}