.player_content {
  display: none;
  width: 100%;
}

#service-player-placeholder {
  width: 100%;
  border-radius: var(--border-radius-small);
}

#close-player-button {
  display: none;
  margin-top: var(--space-md);
}

#player-container {
  display: none;
  margin-bottom: var(--space-xl);
}

.player_content iframe,
#service-player-placeholder iframe {
  border-radius: var(--border-radius-large);
}

@media screen and (max-width: 768px) {
  #player-container {
    margin-bottom: var(--space-md);
  }
}
