.player_container {
    width: 100%;
    display: none;
    flex: none;
}

.player_content {
    display: none;
    width: 100%;
}

.service-player-placeholder {
    width: 100%;
}

.volume_control {
    display: none;
}

#close-player-button {
    display: none;
}
