:root {
  --background-color: #fff;
  --text-color: #333;
  --link-color: teal;
  --container-background: #f5f5f5;
  --btn-background: #ddd;
  --btn-text-color: #333;
  --overlay-background: rgba(255, 255, 255, 0.9);
  --overlay-text-color: #333;
  --table-header-background: #e0e0e0;
  --table-header-text-color: #333;
}

body.dark-mode {
  --background-color: #333;
  --text-color: #fff;
  --link-color: #ffffff;
  --container-background: #444;
  --btn-background: #555;
  --btn-text-color: #fff;
  --overlay-background: rgba(0, 0, 0, 0.5);
  --overlay-text-color: #fff;
  --table-header-background: #555;
  --table-header-text-color: #fff;
}

/* Global Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}

a {
  color: var(--link-color);
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 15px;
  box-sizing: border-box;
}

/* Main Content */
#main-content {
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  max-width: 100%;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  color: var(--btn-text-color);
  border-radius: 5px;
  cursor: pointer;
}

/* Collapse Button */
.collapse-button {
  background-color: var(--btn-background);
  border: none;
  border-radius: 5px;
  color: var(--btn-text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: auto;
  padding: 5px 10px;
}

/* Table Styles */
.column-header {
  font-weight: bold;
  text-align: center;
}

/* Links */
.external-links {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.footer-link {
  color: var(--text-color);
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-row {
  margin-top: 20px;
}

/* Overlay */
.overlay {
  background-color: var(--overlay-background);
  bottom: 0;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.overlay-content {
  background-color: var(--container-background);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: var(--overlay-text-color);
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay-content a {
  color: var(--link-color);
}

/* Utility Classes */
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.mr-2 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 16px;
}

/* Selectors */
.custom-select, .selector {
  height: 30px;
  width: 100%;
  max-width: 180px;
  min-width: 120px;
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
  margin: 0 10px;
  line-height: 20px;
  box-sizing: border-box;
}

.selector-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

label {
  position: relative;
  top: 5px;
}

.stack-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the left */
  margin-top: 10px; /* Add space between the title and the stack */
}

/* Desktop-Specific Styles */
@media screen and (min-width: 768px) {
  #main-content {
    max-width: 70rem;
  }

  .last-updated {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
    margin-top: 9px;
  }

  .container {
    padding: 0px;
  }

  .last-updated {
    display: flex;
    font-size: 0.6rem;
    justify-content: center;
  }

  .mr-4 {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .collapse-button {
    font-size: 1rem;
    padding: 3px 8px;
  }

  .footer-link {
    font-size: 0.7rem;
  }
}
