@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";

@layer base {
  :root {
    --color-background: #050211;
    --color-surface: #1b1428;
    --color-surface-alt: #241b35;
    --color-surface-muted: #312646;
    --color-text: #f6f5ff;
    --color-muted: #b3adc9;
    --color-border: #2f2740;
    color-scheme: dark;
    font-family: theme("fontFamily.sans");
  }

  body {
    @apply bg-background text-text font-sans antialiased;
  }
}
