@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";

@layer base {
  :root {
    color-scheme: dark;
    font-family: theme("fontFamily.sans");
    background-color: theme("colors.background");
    color: theme("colors.text");
  }

  body {
    @apply bg-background text-text font-sans antialiased;
  }
}
