@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    font-family: theme("fontFamily.sans");
  }

  .dark {
    color-scheme: dark;
  }

  body {
    @apply bg-background font-sans text-text antialiased;
  }
}
