/* Global Styles */
body {
  background-color: #333;
  color: white;
  font-size: 16px; /* Base font size */
}

a {
  color: white;
}

.logo-title {
  display: flex;
  align-items: flex-start; /* Align items at the start of the container */
}

img#tunemeld-logo {
  width: 12%;
  margin-top: 5px; /* Adjust this value to change the height */
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
}

/* Container */
.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 15px;
  box-sizing: border-box;
}

/* Main Content */
#main-content {
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  width: 500rem;
}

/* Buttons */
.btn {
  padding: 10px 20px;
}

.collapse-button {
  background-color: #555;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: auto;
  padding: 5px 10px;
}

/* Table Styles */
.column-header {
  font-weight: bold;
  text-align: center;
}

/* Links */
.external-links {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.footer-link {
  color: #ccc;
  font-size: 0.8rem;
  margin-bottom: 5px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-row {
  margin-top: 20px;
}

/* Overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.overlay-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: #333;
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay-content a {
  color: #4667f9;
}

#soundcloud-link {
  background-color: #444;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
  padding: 3px 8px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 10px;
  text-decoration: none;
}


#soundcloud-link:hover {
  background-color: #555;
}

#soundcloud-logo {
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

/* Utility Classes */
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.mr-2 {
  margin-right: 8px; 
}

.mr-4 {
  margin-right: 16px;
}

/* Selectors */
.custom-select, .selector {
  height: 30px;
  width: 100%;
  max-width: 180px;
  min-width: 120px;
  font-size: 14px;
  padding: 0 10px; 
  text-align: center; 
  margin: 0 10px; 
  line-height: 20px;
  box-sizing: border-box; 
}

.selector-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

label {
  position: relative;
  top: 5px;
}

/* Desktop Styles */
@media screen and (min-width: 769px) {
  .main-title {
    font-size: 3.0rem;
    margin-top: 35px; 
  }

  .last-updated {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }

  #soundcloud-link {
    font-size: 14px;
  }

}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 0px;
  }

  .main-title {
    font-size: 2rem;
    margin-top: 7px;
    margin-top: 45px;

  }

  .last-updated {
    display: flex;
    font-size: 0.6rem;
    justify-content: center;
  }

  #soundcloud-link {
    font-size: 10px;
    padding: 2px 6px;
  }

  #soundcloud-logo {
    height: 15px;
    width: 15px;
  }

  .mr-4 {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .collapse-button {
    font-size: 1rem;
    padding: 3px 8px;
  }

  .footer-link {
    font-size: 0.7rem;
  }
}