a {
    color: white;
  }
  body {
    background-color: #333;
    color: white;
  }
  h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
  }
  #main-content {
    transition: opacity 2s ease-in-out;
    opacity: 1;
  }
  .album-cover {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
  .track-item-content {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #444;
    color: white;
  }
  .track-number {
    margin-right: 10px;
    font-size: 20px;
    line-height: 40px;
    width: 50px;
    text-align: center;
  }
  .track-info {
    flex: 3;
    padding: 0 10px;
  }
  .track-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
  }
  .column-header {
    font-weight: bold;
    text-align: center;
  }
  .source-icons, .external-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  .track-list-item {
    background-color: #444;
    color: white;
    padding: 5px 0;
  }
  .username {
    font-size: 12px;
    margin: 0;
  }
  .track-title {
    font-weight: 400;
    margin: 0;
    color: white;
  }
  .playlist {
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
  }
  .playlist-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .source-icon {
    width: 24px;
    height: 24px;
  }
  .container {
    max-width: 100%;
    max-width: 1200px;
    max-width: 75rem;
    max-width: 90vw;
  }
  .row {
    margin: 0;
  }
  .col-md-4,
  .col-sm-12 {
    padding: 0 5px;
  }
  .playlist-description {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
  }
  #soundcloud-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    background-color: #444;
    padding: 3px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    transition: background-color 0.3s ease;
  }
  #soundcloud-link:hover {
    background-color: #555;
  }
  #soundcloud-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .track-header {
    font-weight: bold;
    text-align: left;
    flex: 1;
    width: 150px;
  }
  .track-header-info {
    composes: track-header;
    margin-left: 12%;
  }
  .track-header-seen-on {
    composes: track-header;
    margin-left: 40%; 
  }
  .track-header-external-links {
    composes: track-header;
    margin-right: 5%;
  }
  .track-column {
    flex: 1;
  }
  .track-headers {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #555;
  }
  .overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 16px;
    z-index: 1000;
  }
  .overlay-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .overlay p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    flex: 1;
  }
  .overlay a {
    color: #ccc;
    text-decoration: none;
  }
  .overlay a:hover {
    text-decoration: underline;
  }
  .acceptButton {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 15px;
  }
  